################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InformationTree/InformationTree/bin/Debug
/InformationTree/RicherTextBox/obj/Debug
/InformationTree/InformationTree/obj/Debug
