################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InformationTree/InformationTree/bin/Debug
/InformationTree/RicherTextBox/obj/Debug
/InformationTree/InformationTree/obj/Debug
/InformationTree/packages/GtkSharp.3.22.24.36
/InformationTree/RicherTextBox/bin/Debug
/InformationTree/.vs/InformationTree/v16/.suo
.vs/
obj/
Debug/
packages/
InformationTree.userprefs
*.user
/src/InformationTree.WapProjTemplate/InformationTree.WapProjTemplate.assets.cache
