<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MediatorSelfTest" value="true" />
    <add key="EnableExtraSound" value="true" />
    <add key="EnableExtraGraphics" value="true" />
    <add key="EnableAlerts" value="false" />
    <add key="EnableRtfLoading" value="true" />
    <add key="EnableRtfSaving" value="true" />
    <add key="EnableTable" value="false" />
    <add key="EnableCalculation" value="false" />
    <add key="EnableManualEncryption" value="true" />
    <add key="EnableAutomaticCompression" value="true" />
    <add key="EnableEncryptionSigning" value="false" />
  </appSettings>
</configuration>